body{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0
    
}
.header, .footer{
    background-color: #1f2937;
}
.header{
    display: flex;
    align-items: center;
    gap: 19px;
    padding: 0 15%;   
}
.panel-1{
    display: flex;
    background-color: #1f2937;
    padding: 60px 15%;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.panel-1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.panel-1-img{
    height: 300px;
    width: auto;
}
.panel-2{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding-top: 50px;
    padding-bottom: 120px;
    gap: 90px
}
.cardbox{
    display: flex;
    gap: 66px
}
.card{
    display: flex;
    flex-direction: column;
}
.panel-3{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 80px 20%
}
.panel-4{
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    width: 75%;
    height: 130px;
    align-self: center;
    margin: 110px;
    border-radius: 7px;

}
.panel-4-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    font-weight: 800;
}
.header-link, .panel-1-text{
    font-size: 18px;
    color: #E5E7EB
}
.panel-1-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 10px 0
}
.panel-1-button{
    background-color: #3882F6;
    color: white;
    height: 40px;
    width: 130px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 10px 0;
    box-shadow: none;
}
.panel-1-text{
    margin: 10px 0
}
.panel-2-text{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0
}
.cardpic{
    object-fit: contain;
    height: 160px;
    width: 160px;
    border: solid;
    border-color: #3882F6;
    border-radius: 13px;
}
.card{
    height: 140px;
    width: 140px;
    
    justify-content: center;
    align-items: center;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}
.quote-author{
    align-self: flex-end;
    font-size: 23px;
    font-weight: 900;
    margin-top: 0;
}
.panel-4-title{
    font-size: 25px;
    color: #E5E7EB;
    margin: 0;
    font-weight: 900;
}
.panel-4-text{
    font-size: 17px;
    color: #E5E7EB;
    margin: 0;
}
.panel-4-button{
    background-color: #3882F6;
    color: white;
    height: 40px;
    width: 130px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: solid;
    border-color: #E5E7EB;
    margin: 10px 0;
    align-self: center;
}
.footer-text{
    color: #E5E7EB;
    text-align: center;
}
.footer{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}